@import url(./common.css);
.wrap{
	width:100%;
	height:100%;
	background: url(../img/bg.jpg) repeat-y;
	position: relative;
}
.float{
	width:98px;
	height:122px;
	background: url(../img/me.png) no-repeat;
	position: absolute;
	left:50%;
	bottom: 0;
	margin-left: -49px;
}
